@use '../mixins/responsive.scss' as *;


.user {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 3px solid #d92e2e;
  width: 226px;
  
  @include responsive (desktop) {
    width: 446px;

  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #d92e2e;
    font-size: 1rem;
    width: 44px;
    height: 44px;

    @include responsive (desktop) {
      font-size: 2rem;
      width: 88px;
      height: 88px;
    }
  }
}
